@page "/About"

<div class="container">
    <h2>JdSharp, A multi module Decompiler written in .Net</h2>
    <hr class="mt-2 mb-3"/>
    <ul class="list-group list-group-light">
        <li class="list-group-item">License: Apache License 2.0</li>
        <li class="list-group-item">About: JdSharp is a multi platform and multi module decompiler written in .NET</li>
        <li class="list-group-item">Developers: Guilherme Sacramento Rocha, Lucas Henrique Chagas Carvalho, Murilo Carlos Costa de Moura & Rafael de Carvalho Suckert</li>
        <li class="list-group-item">Link: <a href="https://github.com/guilhermerochas/JdSharp">JdSharp's Github Page</a></li>
    </ul>
</div>